body {
  background: #affc4d;
}

h1 {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 130px;
  text-align: center;
}

#intro p {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}

#profile img {
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 5px dashed #f500bf;
}

#intro {
  padding: 60px 0;
}

#profile {
  padding-right: 60px;
}

.container {
  margin: 100px auto 60px;
  padding: 30px 30px 30px 0;
  box-shadow: 0.5rem 1rem black;
  border: 5px solid black;
  background: white;
}

.navigation-links {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.button-classic {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 30px;
  text-decoration: none;
  background: black;
  color: white;
  font-family: "Roboto Mono", monospace;
  box-shadow: 0.3rem 0.3rem #f500bf;
}

.button-border {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 30px;
  text-decoration: none;
  background: white;
  color: #f500bf;
  font-weight: 700;
  border: 3px dashed #f500bf;
  font-family: "Roboto Mono", monospace;
}

.button-border:hover {
  background: #f500bf;
  color: white;
  transition: 200ms;
}

.project-description {
  padding: 80px 60px;
}

h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 50px;
  font-weight: 600;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

#project-image {
  max-width: 100%;
  margin: 50px 30px;
  border: 3px solid black;
  box-shadow: 0.5rem 1rem black;
}

#project-image-2 {
  max-width: 100%;
  margin: 50px 0;
  border: 3px solid black;
  box-shadow: 0.5rem 1rem black;
}

footer {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin-bottom: 30px;
  color: black;
}
