:root {
  --primary-color: #00ff19;
  --secondary-color: #f500bf;
  --tertiary-color: #b100f5;
  --heading-font: "Philosopher", sans-serif;
  --default-font: "Roboto Mono", monospace;
}

.main-bg {
  background: var(--primary-color);
}

.secondary-bg {
  background: var(--secondary-color);
}

.tertiary-bg {
  background: var(--tertiary-color);
}

h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 96px;
  text-align: center;
}

@media (max-width: 768px) {
  h2 {
    font-size: 42px;
  }

  #intro {
    padding: 20px 0 !important;
  }

  #profile {
    padding: 0;
  }
  .project-description {
    padding: 30px 30px !important;
    text-align: center;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 60px;
    line-height: 72px;
  }
  #intro p {
    font-size: 14px !important;
  }
  #profile {
    padding: 0 !important;
  }
}

#intro p {
  font-family: var(--default-font);
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}

#profile img {
  display: flex;
  margin: auto;
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 5px dashed var(--secondary-color);
}

#intro {
  padding: 60px 0;
}

#profile {
  padding-right: 60px;
}

.container {
  margin: 130px auto 60px;
  padding: 30px 30px 30px 0;
  box-shadow: 0.5rem 1rem black;
  border: 5px solid black;
  background: white;
}

.navigation-links {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.button-classic {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 30px;
  text-decoration: none;
  background: black;
  color: white;
  font-family: var(--default-font);
  box-shadow: 0.3rem 0.3rem var(--secondary-color);
}

nav {
  font-family: var(--default-font);
  background: black;
}

.nav-border-pink {
  border-bottom: 5px dashed var(--secondary-color);
}

.nav-border-purple {
  border-bottom: 5px dashed var(--tertiary-color);
}

.nav-border-green {
  border-bottom: 5px dashed var(--primary-color);
}

.nav-logo {
  width: 60px;
  height: auto;
}

.button-border {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 30px;
  text-decoration: none;
  background: white;
  color: var(--secondary-color);
  font-weight: 700;
  border: 3px dashed var(--secondary-color);
  font-family: var(--default-font);
}

.button-border:hover {
  background: var(--secondary-color);
  color: white;
  transition: 200ms;
}

.project-description {
  padding: 80px 60px;
}

.about-blurb {
  padding: 0 20px;
}

h2 {
  font-family: var(--heading-font);
  font-size: 50px;
  font-weight: 600;
}

p {
  font-family: var(--default-font);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

#project-image {
  max-width: 100%;
  margin: 50px 30px;
  border: 3px solid black;
  box-shadow: 0.5rem 1rem black;
}

#project-image-2 {
  max-width: 100%;
  margin: 50px 0;
  border: 3px solid black;
  box-shadow: 0.5rem 1rem black;
}

#about-image {
  display: flex;
  border-radius: 50%;
  border: 5px dashed black;
  width: 250px;
  height: auto;
  margin-left: 60px;
}

.fun-facts {
  line-height: 24px;
}

.prompt {
  color: var(--secondary-color);
}

.contact-page {
  margin: 20px 0;
}
.contact-info {
  padding: 120px 10px;
}

.contact-info p {
  font-size: 20px;
  line-height: 30px;
}

.contact-info a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.contact-info a:hover {
  font-weight: bold;
  text-decoration: underline;
}

#contact-me {
  padding: 0;
}
#contact-me img {
  display: flex;
  margin: auto;
  width: 400px;
  height: auto;
  border-radius: 50%;
  border: 5px dashed black;
}

footer {
  font-family: var(--default-font);
  text-align: center;
  margin-bottom: 30px;
  color: black;
}
